In [84]:
import pandas as pd
import numpy as np

In [86]:
# loading both datasets 
geo_df  = pd.read_csv("GSE50760_norm_counts_TPM_GRCh38.p13_NCBI.tsv", sep="\t", index_col=0)
tcga_df = pd.read_csv("TCGA-COAD.star_tpm.tsv.gz.tsv", sep="\t", index_col=0, compression="gzip")

## Data exploration

In [88]:
# Geo size 
print(geo_df.shape)

(39376, 54)

In [89]:
#TCGA size
print(tcga_df.shape)

(60660, 514)

In [93]:
# Data characteristics 
print (geo_df.dtypes)

GSM1228184    float64
GSM1228185    float64
GSM1228186    float64
GSM1228187    float64
GSM1228188    float64
GSM1228189    float64
GSM1228190    float64
GSM1228191    float64
GSM1228192    float64
GSM1228193    float64
GSM1228194    float64
GSM1228195    float64
GSM1228196    float64
GSM1228197    float64
GSM1228198    float64
GSM1228199    float64
GSM1228200    float64
GSM1228201    float64
GSM1228202    float64
GSM1228203    float64
GSM1228204    float64
GSM1228205    float64
GSM1228206    float64
GSM1228207    float64
GSM1228208    float64
GSM1228209    float64
GSM1228210    float64
GSM1228211    float64
GSM1228212    float64
GSM1228213    float64
GSM1228214    float64
GSM1228215    float64
GSM1228216    float64
GSM1228217    float64
GSM1228218    float64
GSM1228219    float64
GSM1228220    float64
GSM1228221    float64
GSM1228222    float64
GSM1228223    float64
GSM1228224    float64
GSM1228225    float64
GSM1228226    float64
GSM1228227    float64
GSM1228228    float64
GSM1228229    float64
GSM1228230    float64
GSM1228231    float64
GSM1228232    float64
GSM1228233    float64
GSM1228234    float64
GSM1228235    float64
GSM1228236    float64
GSM1228237    float64
dtype: object

In [95]:
print (tcga_df.dtypes)

TCGA-5M-AAT6-01A    float64
TCGA-AA-3552-01A    float64
TCGA-AA-3867-01A    float64
TCGA-AD-6895-01A    float64
TCGA-AA-3560-01A    float64
                     ...
TCGA-AZ-6601-01A    float64
TCGA-AA-3672-01A    float64
TCGA-AA-3524-01A    float64
TCGA-AA-3715-01A    float64
TCGA-AA-3531-01A    float64
Length: 514, dtype: object

In [97]:
print (geo_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 39376 entries, 100287102 to 4571
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GSM1228184  39376 non-null  float64
 1   GSM1228185  39376 non-null  float64
 2   GSM1228186  39376 non-null  float64
 3   GSM1228187  39376 non-null  float64
 4   GSM1228188  39376 non-null  float64
 5   GSM1228189  39376 non-null  float64
 6   GSM1228190  39376 non-null  float64
 7   GSM1228191  39376 non-null  float64
 8   GSM1228192  39376 non-null  float64
 9   GSM1228193  39376 non-null  float64
 10  GSM1228194  39376 non-null  float64
 11  GSM1228195  39376 non-null  float64
 12  GSM1228196  39376 non-null  float64
 13  GSM1228197  39376 non-null  float64
 14  GSM1228198  39376 non-null  float64
 15  GSM1228199  39376 non-null  float64
 16  GSM1228200  39376 non-null  float64
 17  GSM1228201  39376 non-null  float64
 18  GSM1228202  39376 non-null  float64
 19  GSM1228203  39376 non-null  float64
 20  GSM1228204  39376 non-null  float64
 21  GSM1228205  39376 non-null  float64
 22  GSM1228206  39376 non-null  float64
 23  GSM1228207  39376 non-null  float64
 24  GSM1228208  39376 non-null  float64
 25  GSM1228209  39376 non-null  float64
 26  GSM1228210  39376 non-null  float64
 27  GSM1228211  39376 non-null  float64
 28  GSM1228212  39376 non-null  float64
 29  GSM1228213  39376 non-null  float64
 30  GSM1228214  39376 non-null  float64
 31  GSM1228215  39376 non-null  float64
 32  GSM1228216  39376 non-null  float64
 33  GSM1228217  39376 non-null  float64
 34  GSM1228218  39376 non-null  float64
 35  GSM1228219  39376 non-null  float64
 36  GSM1228220  39376 non-null  float64
 37  GSM1228221  39376 non-null  float64
 38  GSM1228222  39376 non-null  float64
 39  GSM1228223  39376 non-null  float64
 40  GSM1228224  39376 non-null  float64
 41  GSM1228225  39376 non-null  float64
 42  GSM1228226  39376 non-null  float64
 43  GSM1228227  39376 non-null  float64
 44  GSM1228228  39376 non-null  float64
 45  GSM1228229  39376 non-null  float64
 46  GSM1228230  39376 non-null  float64
 47  GSM1228231  39376 non-null  float64
 48  GSM1228232  39376 non-null  float64
 49  GSM1228233  39376 non-null  float64
 50  GSM1228234  39376 non-null  float64
 51  GSM1228235  39376 non-null  float64
 52  GSM1228236  39376 non-null  float64
 53  GSM1228237  39376 non-null  float64
dtypes: float64(54)
memory usage: 16.5 MB
None

In [99]:
print (tcga_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 60660 entries, ENSG00000000003.15 to ENSG00000288675.1
Columns: 514 entries, TCGA-5M-AAT6-01A to TCGA-AA-3531-01A
dtypes: float64(514)
memory usage: 238.3+ MB
None

## Data standarization

In [102]:
# Convering GEO data to standard log2(x+1)
geo_df_log2 = np.log2(geo_df+1)

In [104]:
# Count total missing values
print("Missing values in GEO:", geo_df_log2.isnull().sum().sum())
print("Missing values in TCGA:", tcga_df.isnull().sum().sum())

Missing values in GEO: 0
Missing values in TCGA: 0

### Convert TCGA ensembl code to gene ID

In [107]:
print(tcga_df.head(2))

                    TCGA-5M-AAT6-01A  TCGA-AA-3552-01A  TCGA-AA-3867-01A  \
Ensembl_ID
ENSG00000000003.15          4.783671          7.069015          7.627462
ENSG00000000005.6           0.343692          0.753776          0.300417

                    TCGA-AD-6895-01A  TCGA-AA-3560-01A  TCGA-CM-6676-01A  \
Ensembl_ID
ENSG00000000003.15          4.079737          7.155694          7.634865
ENSG00000000005.6           0.000000          2.463518          4.400080

                    TCGA-AA-A029-01A  TCGA-AA-A01C-01A  TCGA-CK-5912-01A  \
Ensembl_ID
ENSG00000000003.15          5.556540          7.008617          8.092381
ENSG00000000005.6           1.449218          1.368768          1.881704

                    TCGA-AA-A03F-01A  ...  TCGA-AD-6890-01A  TCGA-QL-A97D-01A  \
Ensembl_ID                            ...
ENSG00000000003.15          3.945355  ...          6.785581          6.326223
ENSG00000000005.6           1.868252  ...          2.287118          3.207424

                    TCGA-AZ-6608-01A  TCGA-AA-A024-01A  TCGA-G4-6294-01A  \
Ensembl_ID
ENSG00000000003.15          7.195920          6.337126          7.723703
ENSG00000000005.6           1.622134          2.862193          0.729270

                    TCGA-AZ-6601-01A  TCGA-AA-3672-01A  TCGA-AA-3524-01A  \
Ensembl_ID
ENSG00000000003.15          6.180285          4.844074          7.323312
ENSG00000000005.6           0.439570          0.889006          3.599580

                    TCGA-AA-3715-01A  TCGA-AA-3531-01A
Ensembl_ID
ENSG00000000003.15          3.984945          7.301053
ENSG00000000005.6           0.644133          1.224843

[2 rows x 514 columns]

In [109]:
# Remove vesrion numbers .00
tcga_df.index = tcga_df.index.str.split('.').str[0]
print(tcga_df.head(2))

                 TCGA-5M-AAT6-01A  TCGA-AA-3552-01A  TCGA-AA-3867-01A  \
Ensembl_ID
ENSG00000000003          4.783671          7.069015          7.627462
ENSG00000000005          0.343692          0.753776          0.300417

                 TCGA-AD-6895-01A  TCGA-AA-3560-01A  TCGA-CM-6676-01A  \
Ensembl_ID
ENSG00000000003          4.079737          7.155694          7.634865
ENSG00000000005          0.000000          2.463518          4.400080

                 TCGA-AA-A029-01A  TCGA-AA-A01C-01A  TCGA-CK-5912-01A  \
Ensembl_ID
ENSG00000000003          5.556540          7.008617          8.092381
ENSG00000000005          1.449218          1.368768          1.881704

                 TCGA-AA-A03F-01A  ...  TCGA-AD-6890-01A  TCGA-QL-A97D-01A  \
Ensembl_ID                         ...
ENSG00000000003          3.945355  ...          6.785581          6.326223
ENSG00000000005          1.868252  ...          2.287118          3.207424

                 TCGA-AZ-6608-01A  TCGA-AA-A024-01A  TCGA-G4-6294-01A  \
Ensembl_ID
ENSG00000000003          7.195920          6.337126          7.723703
ENSG00000000005          1.622134          2.862193          0.729270

                 TCGA-AZ-6601-01A  TCGA-AA-3672-01A  TCGA-AA-3524-01A  \
Ensembl_ID
ENSG00000000003          6.180285          4.844074          7.323312
ENSG00000000005          0.439570          0.889006          3.599580

                 TCGA-AA-3715-01A  TCGA-AA-3531-01A
Ensembl_ID
ENSG00000000003          3.984945          7.301053
ENSG00000000005          0.644133          1.224843

[2 rows x 514 columns]

In [113]:
# Mapping ensembl ID to gene ID such as BioMart
print (geo_df.head())

           GSM1228184  GSM1228185  GSM1228186  GSM1228187  GSM1228188  \
GeneID
100287102     0.04069     0.04742        0.00      0.1232     0.08211
653635       11.97000    23.12000       14.69     32.9000    25.65000
102466751     6.91900     9.21700       11.11     32.9200    29.92000
107985730     0.12490     0.00000        0.00      0.1261     0.00000
100302278     0.00000     0.00000        0.00      0.0000     0.00000

           GSM1228189  GSM1228190  GSM1228191  GSM1228192  GSM1228193  ...  \
GeneID                                                                 ...
100287102      0.0397        0.00     0.08563      0.0529     0.06778  ...
653635        22.8000       21.82    17.07000     32.2100    26.11000  ...
102466751     33.7600       19.17     9.36200     19.2800    19.76000  ...
107985730      0.0000        0.00     0.13150      0.1624     0.10410  ...
100302278      0.0000        0.00     0.00000      0.0000     0.00000  ...

           GSM1228228  GSM1228229  GSM1228230  GSM1228231  GSM1228232  \
GeneID
100287102        0.00      0.0000      0.1172     0.04795     0.02365
653635          28.87     32.2000     35.8400    26.69000    10.45000
102466751       14.87     10.3900     41.2800    12.81000    14.36000
107985730        0.00      0.1459      0.0000     0.00000     0.07261
100302278        0.00      0.0000      0.0000     0.00000     0.00000

           GSM1228233  GSM1228234  GSM1228235  GSM1228236  GSM1228237
GeneID
100287102     0.04895        0.00      0.1182     0.09933      0.0000
653635       14.54000       16.57     19.3500    19.45000     16.5200
102466751     5.94600       12.64     25.8400    14.48000      9.3060
107985730     0.00000        0.00      0.0000     0.00000      0.1069
100302278     0.00000        0.00      0.0000     0.00000      0.0000

[5 rows x 54 columns]

In [142]:
# importing dataset from BioMart with gene ID, NCBI and gene name.
mapping_df = pd.read_csv("mart_export.txt", sep=",")
# Renaming for clarity
mapping_df.columns = ['Ensembl_ID', 'GeneID', 'Gene_Name']
print (mapping_df.head())

        Ensembl_ID  GeneID Gene_Name
0  ENSG00000210049     NaN     MT-TF
1  ENSG00000211459     NaN   MT-RNR1
2  ENSG00000210077     NaN     MT-TV
3  ENSG00000210082     NaN   MT-RNR2
4  ENSG00000209082     NaN    MT-TL1

In [144]:
# dropping entries without GeneID (Entrez number)
mapping_df = mapping_df.dropna(subset=["GeneID"])
print (mapping_df.head())

         Ensembl_ID       GeneID Gene_Name
5   ENSG00000198888       4535.0    MT-ND1
9   ENSG00000198763       4536.0    MT-ND2
15  ENSG00000198804       4512.0    MT-CO1
16  ENSG00000210151  113219467.0    MT-TS1
18  ENSG00000198712       4513.0    MT-CO2

In [154]:
# mergin with mapping to TCGA data 
tcga_mapped = pd.merge(tcga_df, mapping_df[['Ensembl_ID', 'GeneID']], on='Ensembl_ID')
# Set GeneID as index
tcga_mapped = tcga_mapped.set_index('GeneID')
print(tcga_mapped.head())

              Ensembl_ID  TCGA-5M-AAT6-01A  TCGA-AA-3552-01A  \
GeneID
7105.0   ENSG00000000003          4.783671          7.069015
64102.0  ENSG00000000005          0.343692          0.753776
8813.0   ENSG00000000419          6.679223          6.679985
57147.0  ENSG00000000457          2.640366          2.605779
55732.0  ENSG00000000460          2.678906          1.893168

         TCGA-AA-3867-01A  TCGA-AD-6895-01A  TCGA-AA-3560-01A  \
GeneID
7105.0           7.627462          4.079737          7.155694
64102.0          0.300417          0.000000          2.463518
8813.0           7.430763          6.839957          6.019186
57147.0          2.751292          3.088125          2.570706
55732.0          2.264747          2.415056          2.718548

         TCGA-CM-6676-01A  TCGA-AA-A029-01A  TCGA-AA-A01C-01A  \
GeneID
7105.0           7.634865          5.556540          7.008617
64102.0          4.400080          1.449218          1.368768
8813.0           8.255367          6.420393          7.179176
57147.0          3.005328          2.427365          2.063986
55732.0          2.587629          2.130964          2.192226

         TCGA-CK-5912-01A  ...  TCGA-AD-6890-01A  TCGA-QL-A97D-01A  \
GeneID                     ...
7105.0           8.092381  ...          6.785581          6.326223
64102.0          1.881704  ...          2.287118          3.207424
8813.0           8.365306  ...          7.007031          7.633015
57147.0          3.542555  ...          2.338282          2.906775
55732.0          3.579397  ...          2.248596          2.911826

         TCGA-AZ-6608-01A  TCGA-AA-A024-01A  TCGA-G4-6294-01A  \
GeneID
7105.0           7.195920          6.337126          7.723703
64102.0          1.622134          2.862193          0.729270
8813.0           7.678110          5.321989          7.670385
57147.0          2.573811          2.258428          2.871745
55732.0          2.524289          1.325502          2.658257

         TCGA-AZ-6601-01A  TCGA-AA-3672-01A  TCGA-AA-3524-01A  \
GeneID
7105.0           6.180285          4.844074          7.323312
64102.0          0.439570          0.889006          3.599580
8813.0           6.678576          4.898368          8.134329
57147.0          2.845490          2.309846          3.088176
55732.0          3.065710          2.382003          3.300578

         TCGA-AA-3715-01A  TCGA-AA-3531-01A
GeneID
7105.0           3.984945          7.301053
64102.0          0.644133          1.224843
8813.0           4.894037          6.816289
57147.0          2.601435          2.467566
55732.0          3.107387          3.257524

[5 rows x 515 columns]

In [160]:
print(tcga_mapped.shape)

(29541, 515)

In [170]:
# Checking for common genes 
common_genes = geo_df.index.intersection(tcga_mapped.index)
common_genes

Index([102466751.0, 100302278.0,     79501.0, 102465909.0,    729759.0,
       113219467.0,     81399.0,    400728.0,    643837.0,    284593.0,
       ...
            4513.0,      4509.0,      4508.0,      4514.0,      4537.0,
            4539.0,      4538.0,      4540.0,      4541.0,      4519.0],
      dtype='float64', name='GeneID', length=25515)

In [176]:
# Convering dataset to int
common_genes = common_genes.astype(int)
geo_df.index = geo_df.index.astype(int)
tcga_mapped.index = tcga_mapped.index.astype(int)

In [179]:
# Subsetting by common genes 
geo_aligned = geo_df.loc[common_genes]
tcga_aligned = tcga_mapped.loc[common_genes]

In [197]:
print(geo_aligned.shape)
print(tcga_aligned.shape)

(25515, 54)
(25722, 515)